::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.subject-topic {
  font-family: Playfair;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 15px;
}

.subject-container {
  margin-left: 40px;
  display: flex;
  overflow: auto;
  width: 92%;
  gap: 30px;
  margin-top: -20px;
}

#books {
  display: flex;
  margin: 50px auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cpage {
  height: 100%;
}

@media (max-width: 487px) {
  .subject-container {
    width: 90%;
  }
}
