.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #ebbfa6;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  margin: 5px;
}

.footer-link {
  margin: 10px;
}
